.log-item ul {
  display: grid;
  grid-template-columns: 5% 20% 10% 10% 8% 1fr;
  width: 100%;
  cursor: pointer;
  transition: 0.3s;
  border-bottom: 1px solid hsla(0, 0%, 0%, 0.2);
}

.log-item ul:hover {
  background: hsla(0, 0%, 0%, 0.2);
}

.log-item li {
  list-style: none;
  padding: 1rem;
  text-overflow: ellipsis;
}

@media screen and (max-width: 55rem) {
  .log-item ul {
    grid-template-columns: auto 1.5fr 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "id timestamp left-eye right-eye condition"
      "note note note note note";
  }
  .log-item .id {
    grid-area: id;
  }
  .log-item .timestamp {
    grid-area: timestamp;
  }
  .log-item .left-eye {
    grid-area: left-eye;
  }
  .log-item .right-eye {
    grid-area: right-eye;
  }
  .log-item .condition {
    grid-area: condition;
  }
  .log-item .note {
    grid-area: note;
  }
}

@media screen and (max-width: 35rem) {
  .log-item ul {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas:
      "timestamp timestamp timestamp"
      "left-eye right-eye condition"
      "note note note";
    justify-content: center;
  }
  .log-item .id {
    display: none;
  }
  .log-item li {
    text-align: center;
  }
}
