.log-edit-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
}
.log-edit-form label {
  font-size: 1.5rem;
}
.log-edit-form nav {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}
.log-edit-form nav button {
  background: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  margin-left: 0.1rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.log-edit-form nav button:hover {
  cursor: pointer;
  background: hsla(0, 0%, 0%, 0.2);
}
.log-edit-form nav i {
  font-size: 1.1rem;
}
.log-edit-form time {
  margin-right: auto;
}
.log-edit-form .eye {
  width: 3rem;
  height: 3rem;
}
.log-edit-form .left-eye {
  transform: scale(-1, 1);
}
.log-edit-form .eye-detail-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}
.log-edit-form .eye-details {
  display: flex;
  margin-right: 1rem;
}
.log-edit-form .eye-detail {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-edit-form .condition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-edit-form textarea {
  margin-top: 0.5rem;
  width: 100%;
  max-width: 100%;
  padding: 1rem;
}
.log-edit-form input {
  width: 100%;
}
@media screen and (max-width: 35rem) {
  .log-edit-form .modal {
    padding: 1rem;
  }
}
