.log-item-detail {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 40rem;
  min-width: 20rem;
}
.log-item-detail label {
  font-size: 1.5rem;
}
.log-item-detail nav {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
}
.log-item-detail nav button {
  background: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  margin-left: 0.1rem;
  border-radius: 1rem;
  transition: 0.3s;
}
.log-item-detail nav button:hover {
  cursor: pointer;
  background: hsla(0, 0%, 0%, 0.2);
}
.log-item-detail nav i {
  font-size: 1.1rem;
}
.log-item-detail time {
  margin-right: auto;
}
.log-item-detail .eye {
  width: 3rem;
  height: 3rem;
}
.log-item-detail .left-eye {
  transform: scale(-1, 1);
}
.log-item-detail .eye-detail-container {
  display: flex;
  justify-content: center;
  margin: 1rem 0;
  width: 100%;
}
.log-item-detail .eye-details {
  display: flex;
  margin-right: 1rem;
}
.log-item-detail .eye-detail {
  margin: 0 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-item-detail .condition-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.log-item-detail .condition-container span {
  flex-grow: 1;
  display: inline-flex;
  align-items: center;
  font-size: 1.2rem;
  text-transform: capitalize;
  text-decoration: underline;
}
.log-item-detail .note {
  width: 100%;
  text-align: center;
}
.log-item-detail .submitButton {
  margin-left: auto;
}
